version: '3.9'

services:
  backend:
    image: dockerfile
    networks:
      - frappe_network
    deploy:
      restart_policy:
        condition: on-failure
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    environment:
      DB_HOST: db
      DB_PORT: '3306'
      MYSQL_ROOT_PASSWORD: admin
      MARIADB_ROOT_PASSWORD: admin

  configurator:
    image: dockerfile
    networks:
      - frappe_network
    entrypoint:
      - bash
      - '-c'
    command:
      - "ls -1 apps > sites/apps.txt; bench set-config -g db_host $$DB_HOST; bench set-config -gp db_port $$DB_PORT; bench set-config -g redis_cache \"redis://$$REDIS_CACHE\"; bench set-config -g redis_queue \"redis://$$REDIS_QUEUE\"; bench set-config -g redis_socketio \"redis://$$REDIS_QUEUE\"; bench set-config -gp socketio_port $$SOCKETIO_PORT;\n"
    environment:
      DB_HOST: db
      DB_PORT: '3306'
      REDIS_CACHE: 'redis-cache:6379'
      REDIS_QUEUE: 'redis-queue:6379'
      SOCKETIO_PORT: '9000'
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

  create-site:
    image: dockerfile
    networks:
      - frappe_network
    entrypoint:
      - bash
      - '-c'
    command:
      - |
        wait-for-it -t 120 db:3306; wait-for-it -t 120 redis-cache:6379; wait-for-it -t 120 redis-queue:6379;
        bench new-site --mariadb-user-host-login-scope='%' --admin-password=admin --db-root-username=root --db-root-password=admin --install-app erpnext --set-default frontend;
        bench --site frontend install-app payments;
        bench --site frontend install-app argentina_compliance;
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

  db:
    image: mariadb:10.6
    networks:
      - frappe_network
    healthcheck:
      test: 'mysqladmin ping -h localhost --password=admin'
      interval: 1s
      retries: 20
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MARIADB_ROOT_PASSWORD: admin
    volumes:
      - db-data:/var/lib/mysql

  frontend:
    image: dockerfile
    networks:
      - frappe_network
    depends_on:
      - websocket
    environment:
      BACKEND: 'backend:8000'
      FRAPPE_SITE_NAME_HEADER: frontend
      SOCKETIO: 'websocket:9000'
      PROXY_READ_TIMEOUT: 120
      CLIENT_MAX_BODY_SIZE: 50m
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    ports:
      - '8081:8080'

  queue-long:
    image: dockerfile
    networks:
      - frappe_network
    command: bench worker '--queue' 'long,default,short'
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs'

  queue-short:
    image: dockerfile
    networks:
      - frappe_network
    command: bench worker '--queue' 'short,default'
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs'

  scheduler:
    image: dockerfile
    networks:
      - frappe_network
    command: bench schedule
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs'

  redis-queue:
    image: redis:6.2-alpine
    networks:
      - frappe_network

  redis-cache:
    image: redis:6.2-alpine
    networks:
      - frappe_network

  websocket:
    image: dockerfile
    networks:
      - frappe_network
    command: node /home/frappe/frappe-bench/apps/frappe/socketio.js
    environment:
      FRAPPE_REDIS_CACHE: redis://redis-cache:6379
      FRAPPE_REDIS_QUEUE: redis://redis-queue:6379
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

volumes:
  db-data: null
  sites: null
  logs: null

networks:
  frappe_network:
    driver: bridge
